.CTAButton {
  font-family: "Roboto";
  display: inline-block;
  width: auto;
  height: 32px;
  font-size: 15px;
  margin-left: 5px;
  border: 1.5px solid #000;
  border-radius: 4px;
  box-shadow: 2px 2px 0px #000;
  transition: 0.1s;
  background-color: #fff;
}

.CTAButton:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 0px 0px 0px #000;
}
